<div class="main main-raised">
	<div class="container">
		<div class="section landing-section">
	        <div class="row">
	            <div class="col-md-8 col-md-offset-2">
	                <h2 class="text-center title">S.I.N.A</h2>
					<h4 class="text-center description">Hi! I'm S.I.N.A (Super Intelligent Newton's Assistant), a personal assistant to Newton. You can talk to me to know more about master Newton. Shhhh I know all his dirty little secrets :P </h4>
	              		<div class="chatbox">
	              			<div class="sina-response-div">
	              				<p id="sina-response"></p>
	              			</div>
	              			<div class="user-response-div">
	              				<p id="user-response"></p>
	              			</div>
	              			<div class="form-group label-floating" style="margin-top: 80px;">
								<label class="control-label">Message</label>
								<input type="text" autocomplete="off" id="query" class="form-control">
							</div>
	              		</div>

	            </div>
	        </div>
		</div>
	</div>
</div>