<div class="main main-raised">
	<div class="container">
		<div class="section landing-section">
	        <div class="row">
	            <div class="col-md-8 col-md-offset-2">
	                <h2 class="text-center title">Newtonbot</h2>
					<!-- <h4 class="text-center description">Say something to me! </h4> -->
	              		<div class="row">
	              			<p id="newton-response"></p>
	              			<div class="form-group label-floating">
								<label class="control-label">Message</label>
								<input type="text" autocomplete="off" id="query" class="form-control">
							</div>
	              		</div>

	            </div>
	        </div>
		</div>
	</div>
</div>